@charset "UTF-8";

/*Aparelho deitado (landscape)*/

body {
  background: url(../imagens/imglandscape.png);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}